section(class="success scene_element scene_element--fadeinright" id="About")
  div(class="container")
    div(class="row")
      div(class="col-lg-12 text-center")
        h2 About
        hr(class="star-light")
    div(class="row")
      div(class="col-lg-4 text-center")
        p We do all types of cleaning 
      div(class="col-lg-4 text-center")
        p Pricing is well good
      div(class="col-lg-4 text-center")
        p Something else to get you to give us money... :-)

