div(class="container")
  div(class="row")
    div(class="col-lg-12 text-center")
      h2 Choose your date and time.
      hr(class="star-primary")
  div(class="row")
    div(class="col-lg-4")
    div(class="col-lg-4 text-center")
      input(type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" style='width:100%; text-align:center')
    div(class="col-lg-4")

