div(class="container scene_element scene_element--fadeinright" id="BookWithUs")
  div(class="row")
    div(class="col-lg-12 text-center")
      h2 Choose your date and time.
      hr(class="star-primary")
  div(class="row")
    div(class="col-lg-12")
        div#react-datetime!= datetime

