div(class="container scene_element scene_element--fadeinright" id="BookWithUs")
  div(class="row")
    div(class="col-lg-12 text-center")
      h1 Book with us
      h2 Easy as 1,2,3
      hr(class="star-primary")
  div#react-datetime!= datetime