extends ./layout.pug
block content
  div.container(class="scene_element scene_element--fadeinright")
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        div#react-login!= login
  script(src="login.js")
  