extends ./layout.pug

block content
  div(class="container scene_element scene_element--fadeinright")
    h1(class="well text-center") Registration Form
    div(class="row")
        div#react-signup!= signup
  script(src="bundle/signup.js")
  
