footer(class="text-center")
  div(class="footer-above")
    div(class="container")
      div(class="row")
        div(class="footer-col col-md-4")
          h3 Location
            p 3481 Melrose Place
            br Beverly Hills, CA 90210
        div(class="footer-col col-md-4")
          h3 Share us on facebook
          div(class="fb-share-button" data-href="http://www.your-domain.com/your-page.html" data-layout="button_count")
        div(class="footer-col col-md-4")
        h3 About Freelancer
          p Freelance  
            a(href="http://startbootstrap.com") Start Bootstrap.
  div(class="footer-below")
    div(class="container")
      div(class="row")
        div(class="col-lg-12") Copyright &copy; Your Website 2016
