doctype html
html(lang="en")
  include head.pug
body
  include nav.pug
  include header.pug
  include about.pug
  include contact.pug
  include dateTime.pug
  include review.pug
  include footer.pug




