@* make position relative so we can position background image relative to this. ?? Works now without?? *@
<div class="jumbotron text-center blue" style="color:white">
        <h1>@ViewData["Title"]</h1>
        <p>Catchy phrasess</p>
</div>
<div class="row">
    <div class="col-md-12 text-center"></div>
</div>

<div class="row text-center blue" style="color:white">
    <h1>Where we are</h1>
    <div class="col-md-6 ">
        <h1>How to find us</h1>
    </div>
    <div class="col-md-6 ">
        <h1>google api</h1>
        <div id="map"></div>
    </div>

</div>
<div class="row text-center blue" style="color:white" >
    <h1>Recommendations</h1>
    <div class="col-md-6 ">
        <h1>A snapshot</h1>
    </div>
    <div class="col-md-6 ">
        <h1>facebook, twitter and other social media.</h1>
    </div>

</div>
@*<div ng-app="myApp">
<ul rn-carousel class="image">
    <li>slide #1</li>
    <li>slide #2</li>
    <li>slide #3</li>
</ul>
</div>*@