@keyframes sweep {
    0% {
        transform: rotate(30deg)
    }
    50% {
        transform: rotate(-30deg)
    }
    100% {
        transform: rotate(30deg)
    }


}

.sweep {
    animation: sweep 0.1s infinite ease-in-out;
}

img {
    position:relative;
    margin:0;
    padding:0;
    width:15%;
    height:auto;
    left:10%;
    top:10%;
    opacity:1;
    z-index:1;
    transition:all 1s linear;
    -moz-transition: all 1s linear; /* Firefox 4 */
    -webkit-transition:all 1s linear; /* Safari and Chrome */
    -o-transition:all 1s linear; /* Opera */
}
