header
  div(class="container")
    div(class="row")
      div(class="col-lg-12")
        img(class="img-responsive" src="img/profile.png" alt="")
        div(class="intro-text")
          if(name != "")
            span(class="name") Welcome #{name} to clement cleaning
          else
            span(class="name") Welcome to clement cleaning
          hr(class="star-light")
          span(class="skills") A  cleaning business based in Balloch
