.foundation{
    position:relative;
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
}
.writing{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-color:transparent;
    z-index:1;
    text-align:center;
    display:table;
}

.animation{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:transparent;
    text-align:center;
    z-index:0;
}

.text{
    color:forestgreen;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size:10vw;
    opacity:0;
    display:table-cell;
    vertical-align: middle; 
    text-align:center;

}
.sqr{
    /*Must be relative so we can position the mud inside.*/
    position:relative;
    /*To allow other divs to be stacked next to it from the right side.*/
    float:left;
}

.blackSqr{
    background-color:black;
}

.whiteSqr{
    background-color:white;
}

.mud{
    background-image:url(../images/mudOne_crop.png);
    background-repeat:no-repeat;
    position:absolute;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    width:100%;
    height:auto;
    padding:0;
    margin:0;
    opacity:0;
}
@keyframes sweep {
    0% {
        transform: rotate(30deg)
    }
    50% {
        transform: rotate(-30deg)
    }
    100% {
        transform: rotate(30deg)
    }


}

.sweep {
    position:absolute;
    margin:0;
    padding:0;
    top:60px;
    left:30px; 
    height:20%;
    width:auto;
    right:auto;
    bottom:auto;
    animation: sweep 0.5s infinite;
}

@keyframes exposeMe {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.exposeMe{
    animation: exposeMe 1s ease-in forwards; 
}

@keyframes hideMe {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.hideMe{
    animation:hideMe  1s forwards; 
}
