body {
}
.sqr{
    position:absolute;
    /*TODO: Do we have to define these here to use in angular?*/
    /*width:100px;
    height:100px;
    left:0;
    top:0;*/
    background-color:black;
    transition:all 2s linear;
}
